<!-- <div class="card" style="width: 11rem; border-radius: 1.25rem; background-color: #b2ffff">
    <div class="centrado">
        <b>Ciudad de San Nicolás</b>
    </div>
    <div class="row">
        <div class="col tpos">
            <b>T: {{WeatherData.temp_celcius}}°</b>
            <br>
            <b>ST: {{WeatherData.temp_feels_like}}°</b>
        </div>
        <div class="col ipos">
            <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
                <i class="fas fa-3x fa-sun sun"></i>
            </div>
            <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
                <i class="fas fa-3x fa-moon moon"></i>
            </div>
            <div *ngIf="WeatherData.cloudy" class="weatherWidgetRow cloudDiv">
                <i class="fas fa-cloud fa-3x cloud"></i>
            </div>
        </div>
    </div>
</div> -->